{% extends 'base.html' %}

{% block content %}
<style>
    .card {
        margin-top: 10px;
    }
    .container {
        margin-top: 50px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .zagolovok, .obshie, .category, .cardrow, .steps, .contacts, .contin {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    p {
        font-size: 1rem;
        font-family: 'Montserrat', 'sans-serif';
    }

    h2, h3 {
        text-transform: uppercase;
        color: #E1007B;
    }

    .col.text-center {
        width: 50rem;
    }

    .steps .col{
        border: 2px solid #E1007B;
        margin:25px
    }

    i {
        color: #E1007B;
    }

    .contacts a {
        font-size: 1.2em;
        text-decoration: none;
        color:#E1007B
    }

    .flags {
        display:flex;
        flex-direction: row;
    }
</style>

<!--Title-->
    <div class="row zagolovok">
        <div class="col text-center">
            <h1 style="color: #E1007B; font-weight:900">SAN REMO JUNIOR - KAZAKHSTAN</h1>
            <h3 style="color: #2DAADC;">МЕЖДУНАРОДНЫЙ КОНКУРС ПЕСНИ</h3>
            <h3 style="color: #2DAADC;">ДЛЯ СОЛИСТОВ -  АКАДЕМИЧЕСКОГО ВОКАЛА, ПОП, РОК, ДЖАЗ, ФОЛК И РЭП ОТ 6 ДО 15 ЛЕТ</h3>
            <h3 style="padding-top:50px; font-weight:900">22-24 Февраля 2024 г.</h3>
            <p style="text-transform: uppercase;">Официальный представитель в Казахстане «SAN REMO
                JUNIOR-KAZAKHSTAN»</p>
            <p>«АКАДЕМИЯ ИСКУССТВ АСТАНА»</p>
            <h3 style="padding-top:50px; font-weight:900; text-transform: uppercase;">Партнеры</h3>
            <p>Компания «TRIUMPH TRAVEL» Астана.</p>
            <p>Союз музыкальных деятелей РК.</p>
            <p>КІSMET, Italy</p>
        </div>
    </div>

<!--Rules-->
<div class="row obshie">
    <div class="col text-center ">
        <h2 >Общие положения</h2>
        <ul>
            <li>KISMET, всемирно известная организация как GEF – Всемирный фестиваль творчества в школах – теперь также организует конкурс для певцов-солистов в возрасте от 6 до 15 лет «San Remo Junior-Kazakhstan», чтобы популяризировать и оценить музыку и пение среди молодых людей, знакомя их с профессионалами отрасли в интернациональной и многоэтнической среде.</li>
            <li>«San Remo Junior-Kazakhstan» также является окном для освещения в средствах массовой информации, как на национальном, так и на международном уровне.</li>
            <li>Все наши художественные и культурные мероприятия являются вестниками мира, любви и дружбы. Участники, независимо от этнической принадлежности, цвета кожи, вероисповедания и национальности, смогут участвовать в конкурсе San Remo Junior-Kazakhstan без дискриминации, в духе взаимного уважения с другими участниками.</li>
            <li>Участники должны иметь гражданство или документально подтвержденное гражданство страны, которую они представляют.</li>
            <li>Участники должны быть в возрасте от 6 до 15 лет.</li>
            <li>Участники, намеревающиеся подать заявку в различных разделах издания 2024 года, должны находиться в требуемом возрасте в период с 1 января по 31 декабря 2024 года .</li>
            <li>Участники должны быть пунктуальны в день, место и время, установленные и сообщенные заранее организацией, иначе они будут исключены из конкурса без возврата денег.</li>
            <li>Тексты, участвующие в конкурсе, не должны содержать выражения, которые могут быть сочтены оскорбительными для общественной порядочности и/или государства, институтов, церкви или какой-либо религии.</li>
            <li>Во время выступления не допускаются позы, одежда, движения или поведение, которые могут оскорбить порядочность. При этом участники обязаны вести себя корректно, в соответствии с правилами общественного духа на все этапах конкурса, уважать людей и общественную собственность. В случае любого некорректного поведения участник будет немедленно дисквалифицирован.</li>
        </ul>
    </div>
</div>

<div class="row category">
    <div class="col text-center">
        <h2>Конкурс разделен на 3 секции А1/А2/А3:</h2>
        <h3>КАТЕГОРИЯ А: Сольные певцы</h3>
        <ul>
            <li>Поп-музыка, рок, джаз, академический вокал, фолк и рэп.</li>
            <div class="row cardrow">

                <!--Card 1-->
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">A1</h5>
                      <h6 class="card-subtitle mb-2 text-muted"> От 6 до 9 лет </h6>
                      <p class="card-text">родились с 1 января 2015 г. по 31 декабря 2018 г.</p>

                    </div>
                  </div>
                  <!--Card 2-->
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">А2</h5>
                      <h6 class="card-subtitle mb-2 text-muted">От 10 до 12 лет</h6>
                      <p class="card-text">родились с 1 января 2012 г. по 31 декабря 2014 г.</p>
                    </div>
                  </div>

                  <!--Card 3-->
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 900px;">А3</h5>
                      <h6 class="card-subtitle mb-2 text-muted">От 13 до 15 лет </h6>
                      <p class="card-text">родились с 1 января 2009 г. по 31 декабря 2011 г.</p>
                    </div>
                  </div>
            </div>
            <li>Каждая песня может быть представлена на итальянском и/или любом другом языке. Если используемый язык не является ни итальянским, ни английским, необходимо предоставить английский перевод текста.</li>
            <li>В конкурсе будут приниматься как опубликованные, так и неопубликованные песни.</li>
            <li>Конкурсанты могут представить на выбор только одно музыкальное произведение (без гармонизаций или других вокальных партий, таких как двойные голоса или хоры) продолжительностью не более 3 минут 30 секунд и представлено в виде записи в формате mp3 или Wave.</li>
            <li>В заявке должны быть четко указаны: полное название, название
                произведения, жанр, автор, продолжительность, а также четко указано, является ли это оригинальным произведением или аранжировкой, исполнялось ли оно когда-либо и т. д.</li>
            <li>Подготовку и проведение конкурса осуществляет оргкомитет.</li>
            <li>Оргкомитет утверждает состав жюри.</li>
            <li>Оргкомитет не несет ответственности за решение жюри и присуждение мест участникам.</li>
            <li>Оргкомитет имеет право использовать и распространять (без выплаты гонорара участникам) видеозаписи, печатную и иного рода продукцию, произведенную во время проведения мероприятий конкурса и по его итогам.</li>
            <li>По техническим/организационным причинам в программу San Remo Junior-Kazakhstan могут быть внесены изменения, о которых в любом случае будет незамедлительно сообщено всем заинтересованным сторонам.</li>
            <li>Оргкомитет, Ассоциация промоутеров и техническая организация Компания не несут ответственности за несчастные случаи с людьми или вещами как во время поездок, так и на протяжении всего мероприятия.</li>
        </ul>
    </div>
</div>
</div>


<div class="container" style="justify-content: center;">
<div class="row steps">
    <div class="col text-center">
        <h3>ШАГ 1</h3>
        <h6>до 25 января 2024 г.</h6>
        <ul class="text-center">
            <li>ОНЛАЙН-регистрация на сайте <a href="www.sanremojunior.kz">www.sanremojunior.kz</a> для всех участников. Регистрационный взнос на участие в отборочном туре составляет 45000 (сорок пять тысяч) тенге. Регистрационный взнос не возвращается.</li>
            <li>Предоставить видео песни, продолжительностью 3 минуты 30 секунд.</li>
        </ul>
    </div>
    <div class="col text-center">
        <h3>ШАГ 2</h3>
        <h6>до 01 февраля 2024 г.</h6>
        <ul>
            <li>Участники, допущенные к участию в полуфинале San Remo Junior-Kazakhstan получат электронное письмо с подтверждением.</li>
        </ul>
    </div>
    <div class="col text-center">
        <h3>ШАГ 3</h3>
        <h6>до 10 февраля 2024 г .</h6>
        <ul><li>Оплата вступительного взноса для участия в полуфинале и финале конкурса 150000 (сто пятьдесят тыс.) тенге. Вступительный взнос возврату не подлежит.  Участники, полуфинала должны, после заполнения требуемых форм, отправить их по электронной почте на адрес info@sanremojunior.kz</li></ul>
    </div>

    <div class="col text-center">
        <h3>ШАГ 4</h3>
        <h6>23 февраля 2024 г. <br>Финал</h6>
        <ul>
            <li>Отборочное прослушивание полуфинала в Органном зале г. Астана</li>
            <li>Финал в престижном концертном зале столицы</li>
            <li>Выступление финалистов на сцене со звездами казахстанской эстрады</li>
            <li>Участники полуфинала должны представить минусовки, записанные на 2 отдельных форматах mp3</li>
            <li>Все участники отборочного прослушивания имеют приглашение от итальянского Оргкомитета SAN REMO JUNIOR принять участие в15- минутном представлении Республики Казахстан в зале ARISTON, Сан-Ремо, Италия</li>
        </ul>
    </div>

    <div class="col text-center">
        <h3>ШАГ 5 –</h3>
        <ul>
            <li>Победитель Гран-при конкурса San Remo Junior-Kazakhstan становится участником Всемирного конкурса SAN REMO JUNIOR 2024 </li>
        </ul>
    </div>
</div>



<div class="container justify-content-center">
<div class="row text-center prizes">

    <h3>ПРИЗЫ</h3>
    <p>Жюри определяет победителей и присваивает участникам конкурса следующие награды:</p>
    <ul class="text-center">
        <li>Гран-при – Кубок и диплом лауреата. Оплата авиабилета, отель, питание в
            Сан Ремо.</li>
        <li>І премия - Диплом и кубок. Оплата авиабилета в Сан Ремо.</li>
        <li>ІІ премия- Диплом и серебряная медаль. Оплата авиабилета в Сан Ремо.</li>
        <li>ІІІ премия - Диплом и бронзовая медаль. Оплата авиабилета в Сан Ремо.</li>
        <li>Дипломант конкурса –Диплом.</li>
        <li>Сертификат участника - вручается всем конкурсантам.</li>
    </ul>
    <p>Руководителям, педагогам вручаются Дипломы.</p>
    <p>Предусмотрены Благодарственные письма руководителю и концертмейстеру, а также спонсорам, директорам учебных заведений, официальным лицам, (при заблаговременном оформлении заявки).</p>
</div>
</div>


<div class="container text-center">
<div class="row text-center documents">
    <h3>ДОКУМЕНТЫ НА УЧАСТИЕ</h3>
    <ul class="text-center">
        <p>Для участия в конкурсе необходимо подать следующие документы:</p>
        <li>Заявка установленного образца;</li>
        <li>Копия документа, удостоверяющего личность;</li>
        <li>Квитанция об оплате;</li>
        <li>Одна фотография солиста в хорошем качестве;</li>
        <li>Отправляя заявку руководитель (солист) с условиями и положением конкурса автоматически согласен.</li>
        <li>Оргкомитет направляет официальное приглашение для участия в конкурсе.</li>
    </ul>
    <p>Заявку на участие и документы необходимо отправить по адресу: info@sanremojunior.kz</p>
</div>
</div>

<div class="container">
<div class="row juri">
    <ul class="text-center ">
        <h3>ЖЮРИ</h3>
        <li>Жюри состоит из числа известных международных деятелей культуры искусства.</li>
        <li>Оценки выставляются по 25-ти бальной системе.</li>
        <li>Жюри имеет право разделить звание Лауреата между несколькими участниками.</li>
        <li>Жюри принадлежит право отбора лучших концертных номеров для аключительного Гала - концерта.</li>
        <li>Решение Жюри утверждается и оформляется протоколом, является окончательным и не обжалованию не подлежит</li>
    </ul>
</div>
</div>


<div class="container">
<div class="row text-center contacts">
    <div class="container">
        <div class="row contin">
            <div class="col-md-6">
                <div class="contact-container">
                    <h3>Контакты</h3>
                    <p><i class="fas fa-globe"></i> <a href="http://www.sanremojunior.kz" target="_blank">www.sanremojunior.kz</a></p>
                    <p><i class="fab fa-instagram"></i> Instagram: <a href="https://www.instagram.com/sanremojunior_kz/" target="_blank">@sanremojunior_kz</a></p>
                    <p><i class="fas fa-phone"></i> Телефоны: +7 701 907 01 89, +7 702 536 48 88</p>
                    <p><i class="fas fa-map-marker-alt"></i> Адрес: Астана, ул. Аккербез 10</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

