{% extends "kz/kzbase.html" %}
{% block content %}
<style>
    h2 {
        text-transform: uppercase;
        color: #E1007B;
        font-weight: 900;
        font-family: 'Montserrat', 'sans-serif';
        text-transform: uppercase;
    }

    h3 {
        text-transform: uppercase;
        color: #E1007B;
        font-weight: 600;
        font-family: 'Montserrat', 'sans-serif'; 
    }

    p {
        font-family: 'Montserrat', 'sans-serif';
    }

    .about {
        margin-top: 50px;
    }

    .title {
        margin-top: 50px;
        font-family: 'Montserrat', 'sans-serif'; 
    }

    .contin {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    i {
        color: #E1007B;
    }

    a {
        font-size: 1.2em;
        text-decoration: none;
        color:#E1007B
    }

    .container {
        margin-top:50px
    }
</style>


<div class="container text-center">
<div class="row text-center title">
    <h2>Организаторы</h2>
    <p><h3>«АСТАНА ӨНЕР АКАДЕМИЯСЫ»</h3>SanremoJuunior жыл сайынғы халықаралық конкурсы франшизасының ресми иесі болып табылады! «АСТАНА ӨНЕР АКАДЕМИЯСЫ» - жаңашыл және Астанадағы музыкалық оқыту саласындағы көшбасшылардың бірі.
        Біздің тәжірибелі және талантты оқытушылар командасы сіздің балаңызға таңдаған мамандығын басынан бастап игеруге көмектеседі. Біз әрбір оқушы өзінің шығармашылық әлеуетін ашып, жоғары нәтижелерге қол жеткізе алатын жайлы және қолдау көрсететін атмосфера құруға тырысамыз. </p>
</div>
</div>


<div class="container text-center about">
    <div class="row">
        <h2>ҰЙЫМДАСТЫРУШЫ-КОМПАНИЯ</h2>
        <p><span style="color: #E1007B; font-size:1.2em; font-weight:bold">Kismet s.r.l.</span> 1977 жылы құрылған және 20 жыл бойы өз жобаларында жүздеген мың студенттердің қатысуымен оқу демалысы мен мәдени/тіл/спорт кампустарындағы жетекші халықаралық компаниялардың бірі болып табылады.</p>
        <p>Компанияны құрушы әлі күнге дейін барлық корпоративтік жобалардың президенті, бас директоры және жасаушы болып табылады, ол экономика және бизнестің құрметті докторы Паоло Альберти, офицер және Италия Республикасының Рыцарь Ордерінің иегері, сондай-ақ ЮНИСЕФ-тің ізгі ниет елшісі.</p>
        <p>1998 жылдан бастап Kismet ірі халықаралық іс-шаралармен сәтті айналысады. Осы жылдар ішінде ұйымдастырылған іс-шаралардың ең беделділерін атап өтсек:</p>
        <p><span style="color: #E1007B; font-size:1.2em; font-weight:bold">sanremoJunior</span> – биыл (2024) қазірдің өзінде 15-ші рет өткізілуде – Сан-Ремо муниципалитетінің ресми қамқорлығымен өтетін 6 мен 15 жас аралығындағы жалғыз жеке әншілер конкурсы. Әлемде көптеген ән конкурстары бар, бірақ тек sanremoJunior осындай сипаттамаларға ие. «sanremoJunior,Make your dreems come true!» 
            ұранымен өткен шығарылымдардың кейбір финалистері өздерін халықаралық музыка әлемінде көрсете білді. 
            Конкурс танымал танымал конкурстарға барар жолда көптеген қатысушылар үшін бастапқы алаңға айналды. 
            Оның кейбір финалистері ұлттық және халықаралық деңгейде жеңіске жетті, мысалы, Дестини Чукуньере, 
            ол Мальтадағы ұлттық финалда және sanremoJunior әлемдік финалында Гран-приді жеңіп алғаннан кейін 
            кейінірек «Евровидение балалар ән конкурсының» халықаралық финалында жеңіске жетті. 
            Сонымен қатар британдық Talent конкурсының жартылай финалына шығып, кейінірек Мальтаның атынан Евровидение ән конкурсына қатысты. sanremoJunior барлық финалистердің назарын өзіне тарта алады, олар өз елдерінде танымал теледидарлық бағдарламаларға қонақ ретінде жиі шақырылады (осы 13 шығарылымда әлемнің түкпір-түкпірінен 43 ел).</p>
        <p><span style="color: #E1007B; font-size:1.2em; font-weight:bold">GEF</span> – Мектептердегі дүниежүзілік шығармашылық фестивалі – биыл (2024 ж.) 25-ші рет өткізіледі – ол 6 мен 19 жас аралығындағы оқушылар тобына арналған. Бұл мыңдаған келушілері бар итальяндық Ән фестивалінен кейінгі ең маңызды жыл сайынғы оқиға.</p>
        <p><span style="color: #E1007B; font-size: 1.2em; font-weight:bold">sanremoSenior</span> – 34 жастан асқан жас әншілерге арналған байқау.</p>
        <p>Kismet компаниясының Италияның барлық жерлерінде және барлық континенттердегі ондаған шет елдерде серіктестері бар және нақты дәлелдермен айтқанда, оның қазіргі іс-шараларының табысы бүкіл әлемде үнемі өсіп келеді.</p>

    </div>
</div>
<div class="container">
    <div class="row text-center contacts">
        <div class="container">
            <div class="row contin">
                <div class="col-md-6">
                    <div class="contact-container">
                        <h3>Контактілер</h3>
                        <p><i class="fas fa-globe"></i> <a href="http://www.sanremojunior.kz" target="_blank">www.sanremojunior.kz</a></p>
                        <p><i class="fab fa-instagram"></i> Instagram: <a href="https://www.instagram.com/sanremojunior_kz/" target="_blank">@sanremojunior_kz</a></p>
                        <p><i class="fas fa-phone"></i> Телефоны: +7 701 907 01 89, +7 702 536 48 88</p>
                        <p><i class="fas fa-map-marker-alt"></i> Мекен-жайы: Астана, Ақкербез к-сі, 10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>  
{% endblock content %}