{% extends "kz/kzbase.html" %} 
{% block content %}
<style>
    .card {
        margin-top: 10px;
    }
    .container {
        margin-top: 50px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .zagolovok, .obshie, .category, .cardrow, .steps, .contacts, .contin {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    p {
        font-size: 1rem;
        font-family: 'Montserrat', 'sans-serif';
    }

    h2, h3 {
        text-transform: uppercase;
        color: #E1007B;
    }

    .col.text-center {
        width: 50rem;
    }

    .steps .col{
        border: 2px solid #E1007B;
        margin:25px
    }

    i {
        color: #E1007B;
    }

    a {
        font-size: 1.2em;
        text-decoration: none;
        color:#E1007B
    }
</style>

<!--Title-->
    <div class="row zagolovok">
        <div class="col text-center">
            <h1 style="color: #E1007B; font-weight:900">SAN REMO JUNIOR - KAZAKHSTAN</h1>
            <h3 style="color: #2DAADC;">ХАЛЫҚАРАЛЫҚ ӘН КОНКУРСЫ</h3>
            <h3 style="color: #2DAADC;">6 ЖАСТАН 15 ЖАСҚА ДЕЙІНГІ АКАДЕМИЯЛЫҚ ВОКАЛ, ПОП, РОК, ДЖАЗ, ФОЛК ЖӘНЕ РЭП СОЛИСТЕРІНЕ АРНАЛҒАН</h3>
            <h3 style="padding-top:50px; font-weight:900">2024 ж. 22-24 ақпан</h3>
            <p style="text-transform: uppercase;">Қазақстандағы ресми өкіл «SAN REMOJUNIOR-KAZAKHSTAN»</p>
            <p>«АСТАНА ӨНЕР АКАДЕМИЯСЫ»</p>
            <h3 style="padding-top:50px; font-weight:900; text-transform: uppercase;">Серіктестер</h3>
            <p>Астана қаласындағы «TRIUMPH TRAVEL» компаниясы</p>
            <p>ҚР музыка қайраткерлерінің одағы</p>
            <p>КІSMET, Italy.</p>
        </div>
    </div>

<!--Rules-->
<div class="row obshie">
    <div class="col text-center ">
        <h2 >ЖАЛПЫ ЕРЕЖЕЛЕР</h2>
        <ul>
            <li>Kismet, GEF сияқты әлемге әйгілі ұйым – мектептердегі Бүкіләлемдік шығармашылық фестивалі – жастар арасында музыка мен ән айтуды танымал ету және бағалау, оларды халықаралық және көп этникалық ортадағы сала мамандарымен таныстыру үшін 6-15 жас аралығындағы әнші-солистерге арналған «San Remo Junior-Kazakhstan» конкурсын ұйымдастырады.</li>
            <li>«San Remo Junior-Kazakhstan» сондай-ақ ұлттық және халықаралық деңгейдегі бұқаралық ақпарат құралдарында жариялауға арналған өнер болып табылады.</li>
            <li>Біздің барлық көркемдік және мәдени іс-шараларымыз бейбітшілік, махаббат пен достықтың хабаршысы болып табылады. Қатысушылар этникалық тегіне, түсіне, дініне және ұлтына қарамастан, San Remo Junior-Kazakhstan конкурсына кемсітусіз, басқа қатысушылармен өзара құрмет рухында қатыса алады.</li>
            <li>Қатысушылардың азаматтығы немесе оның атынан қатысатын елдің құжатпен расталған азаматтығы болуы керек.</li>
            <li>Қатысушылардың жасы 6 – 15 жас аралығында болуы керек./li>
            <li>2024 жылғы басылымның әртүрлі бөлімдеріне өтініш бергісі келетін қатысушылар 2024 жылдың 1 қаңтары мен 31 желтоқсаны аралығында талап етілетін жаста болуы керек.</li>
            <li>Қатысушылар ұйым белгілеген және алдын-ала хабарлаған күні сол орын мен уақытта болуы керек, әйтпесе олар конкурстан ақшаны қайтарусыз шығарылатын болады.</li>
            <li>Конкурсқа қатысатын мәтіндерде қоғамдық әдептілікке және/немесе мемлекет, институттар, шіркеу немесе қандай да бір дін үшін өрескел деп саналуы мүмкін сөйлемдер болмауы керек.</li>
            <li>Орындау кезінде әдептілікке нұқсан келтіретін позаларға, киімдерге, қозғалыстарға немесе мінез-құлыққа жол берілмейді. Бұл ретте қатысушылар конкурстың барлық кезеңдерінде қоғамдық рух ережелеріне сәйкес өзін дұрыс ұстауға, адамдар мен қоғамдық меншікті құрметтеуге міндетті. Кез келген теріс мінез-құлық көрсеткен жағдайда, қатысушы конкурстан дереу шеттетіледі.</li>
        </ul>
    </div>
</div>

<div class="row category">
    <div class="col text-center">
        <h2>Конкурс А1/А2/А3 3 секцияға бөлінген:</h2>
        <h3>А САНАТЫ: Жеке әншілер</h3>
        <ul>
            <li>Поп-музыка, рок, джаз, академиялық вокал, фолк және рэп.</li>
            <div class="row cardrow">

                <!--Card 1-->
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">A1</h5>
                      <h6 class="card-subtitle mb-2 text-muted"> 6 жастан 9 жасқа дейін </h6>
                      <p class="card-text"><br>2015 ж. 1 қаңтарынан 2018 ж. 31 желтоқсанына дейін туған</p>

                    </div>
                  </div>
                  <!--Card 2-->
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">А2</h5>
                      <h6 class="card-subtitle mb-2 text-muted">10 жастан 12 жасқа дейін</h6>
                      <p class="card-text"><br>2012 ж. 1 қаңтарынан 2014 ж. 31 желтоқсанына дейін туған</p>
                    </div>
                  </div>

                  <!--Card 3-->
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 900px;">А3</h5>
                      <h6 class="card-subtitle mb-2 text-muted">13 жастан 15 жасқа дейін</h6>
                      <p class="card-text"><br>2009 ж. 1 қаңтарынан 2011 жылдың 31 ж. дейін туған</p>
                    </div>
                  </div>
            </div>
            <li>Әр ән итальян тілінде және/немесе кез-келген басқа тілде ұсынылуы мүмкін. Егер ән айтатын тіл итальян да, ағылшын да болмаса, мәтіннің ағылшын тіліндегі аудармасын ұсыну қажет.</li>
            <li>Конкурста жарияланған, сондай-ақ жарияланбаған әндер де қабылданады.</li>
            <li>Конкурсқа қатысушылар 3 минут 30 секундтан аспайтын және mp3 немесе Wave форматындағы жазба түрінде ұсынылған бір ғана музыкалық шығарманы (үйлесімділік немесе қос дауыстар немесе хорлар сияқты басқа вокалдық партиялар жоқ) таңдай алады.</li>
            <li>Өтініште: шығарманың толық атауы, жанры, авторы, ұзақтығы, сондай-ақ бұл түпнұсқаның шығарма немесе аранжировка екені, оның орындалғаны және т.б. туралы ақпарат нақты көрсетілуі керек.</li>
            <li>Конкурсты дайындауды және өткізуді ұйымдастыру комитеті жүзеге асырады.</li>
            <li>Ұйымдастыру комитеті қазылар алқасының құрамын бекітеді.</li>
            <li>Ұйымдастыру комитеті қазылар алқасының шешіміне және қатысушыларға орын беруге жауапкершілік алмайды.</li>
            <li>Ұйымдастыру комитеті конкурстың іс-шараларын өткізу кезінде және оның қорытындылары бойынша жүргізілген бейнежазбаларды, баспа және өзге де өнімдерді (қатысушыларға гонорар төлемей) пайдалануға және таратуға құқылы.</li>
            <li>Техникалық/ұйымдастырушылық себептер бойынша San Remo Junior-Kazakhstan бағдарламасына кез келген жағдайда барлық мүдделі тараптарға дереу хабарланатын өзгерістер енгізілуі мүмкін.</li>
            <li>Ұйымдастыру комитеті, Промоутерлер қауымдастығы және Компанияның техникалық ұйымы саяхат кезінде де, іс-шара барысында да адамдармен немесе заттармен болған жазатайым оқиғалар үшін жауап бермейді.</li>
        </ul>
    </div>
</div>
</div>


<div class="container" style="justify-content: center;">
<div class="row steps">
    <div class="col text-center">
        <h3>1-ҚАДАМ</h3>
        <h6>2024 ж. 25 қаңтарға дейін</h6>
        <ul class="text-center">
            <li>Барлық қатысушылар үшін <a href="www.sanremojunior.kz">www.sanremojunior.kz</a> сайтында ОНЛАЙН-тіркелу. Іріктеу турына қатысуға тіркеу жарнасы 45000 (қырық бес мың) теңгені құрайды. Тіркеу жарнасы қайтарылмайды.</li>
            <li>Ұзақтығы 3 минут 30 секундтық әннің бейнесін ұсыну.</li>
        </ul>
    </div>
    <div class="col text-center">
        <h3>2-ҚАДАМ</h3>
        <h6>2024 ж. 1 ақпанға дейін</h6>
        <ul>
            <li>San Remo Junior-Kazakhstan жартылай финалына қатысуға жіберілген қатысушылар растамасы бар электрондық хат алады.</li>
        </ul>
    </div>
    <div class="col text-center">
        <h3>3-ҚАДАМ</h3>
        <h6>2024 ж. 10 ақпанға дейін</h6>
        <ul><li>Конкурстың жартылай финалы мен финалына қатысу үшін кіру жарнасының төлемі 150000 (жүз елу мың) теңге. Кіру жарнасы қайтаруға жатпайды. Жартылай финалға қатысушылар қажетті формаларды толтырғаннан кейін оларды info@sanremojunior.kz электрондық почтасына жіберулері керек</li></ul>
    </div>

    <div class="col text-center">
        <h3>4-ҚАДАМ</h3>
        <h6>2024 ж. 23 ақпанға дейін<br>Финал</h6>
        <ul>
            <li>Жартылай финалда іріктеп тыңдау Астана қаласының Орган залында өтеді.</li>
            <li>Финал елорданың беделді концерт залында өтеді.</li>
            <li>Финалистердің қазақстандық эстрада жұлдыздарымен бірге сахнада өнер көрсетуі.</li>
            <li>Жартылай финалға қатысушылар 2 бөлек mp3 форматында жазылған минусовкаларды ұсынуы керек.</li>
            <li>Іріктеу тыңдауының барлық қатысушылары SAN REMO JUNIOR Италияның ұйымдастыру комитетінен Италия, Сан-Ремо, ARISTON залында Қазақстан Республикасын 15 минуттық таныстыруға қатысуға шақырылады</li>
        </ul>
    </div>

    <div class="col text-center">
        <h3>5-ҚАДАМ</h3>
        <ul>
            <li>San Remo Junior-Kazakhstan конкурсының Гран-при жеңімпазы SAN REMO JUNIOR 2024 Дүниежүзілік конкурсының қатысушысы болады</li>
        </ul>
    </div>
</div>



<div class="container justify-content-center">
<div class="row text-center prizes">

    <h3>СЫЙЛЫҚТАР</h3>
    <p>Қазылар алқасы жеңімпаздарды анықтайды және конкурсқа қатысушыларға мынадай марапаттар береді:</p>
    <ul class="text-center">
        <li>Гран-при – Кубок және лауреат дипломы. Сан-Ремоға әуе билетін, қонақ үйге, тамақтануға төлеу.</li>
        <li>І сыйлық – Диплом және кубок. Сан-Ремоға әуе билетін төлеу.</li>
        <li>ІІ сыйлық – Диплом және күміс медаль. Сан-Ремоға әуе билетін төлеу.</li>
        <li>ІІІ сыйлық – Диплом және қола медаль. Сан-Ремоға әуе билетін төлеу.</li>
        <li>Конкурс дипломанты – Диплом.</li>
        <li>Қатысушы сертификаты - барлық қатысушыларға беріледі.</li>
    </ul>
    <p>Жетекшілерге, педагогтарға Дипломдар беріледі.</p>
    <p>Жетекшіге және концертмейстерге, сондай-ақ демеушілерге, оқу орындарының директорларына, ресми тұлғаларға (өтінімді алдын ала ресімдеген кезде) Алғыс хаттар қарастырылған.</p>
</div>
</div>


<div class="container text-center">
<div class="row text-center documents">
    <h3>ҚАТЫСУҒА ҚҰЖАТТАР</h3>
    <ul class="text-center">
        <p>Конкурсқа қатысу үшін келесідей құжаттарды тапсыру қажет:</p>
        <li>Белгіленген үлгідегі өтінім;</li>
        <li>Жеке басын куәландыратын құжаттың көшірмесі;</li>
        <li>Төлем туралы түбіртек;</li>
        <li>Солистің сапалы бір фотосуреті;</li>
        <li>Өтінімді жібере отырып, жетекші (солист) конкурстың шарттарымен және ережелерімен автоматты түрде келіседі.</li>
        <li>Ұйымдастыру комитеті конкурсқа қатысу үшін ресми шақыру жібереді.</li>
    </ul>
    <p>Қатысуға өтінім мен құжаттарды info@sanremojunior.kz адресіне жіберу керек</p>
</div>
</div>

<div class="container">
<div class="row juri">
    <ul class="text-center ">
        <h3>ҚАЗЫЛАР</h3>
        <li>Қазылар алқасы белгілі халықаралық өнер мәдениетінің қайраткерлерінен тұрады.</li>
        <li>Бағалар 25 балдық жүйе бойынша қойылады.</li>
        <li>Қазылар алқасы Лауреат атағын бірнеше қатысушылар арасында бөлуге құқылы.</li>
        <li>Қазылар алқасы қорытынды Гала – концерт үшін ең жақсы концерттік нөмірлерді таңдау құқығына ие.</li>
        <li>Қазылар алқасының шешімі хаттамамен бекітіледі және ресімделеді, ол соңғы болып табылады және шағымдануға жатпайды</li>
    </ul>
</div>
</div>


<div class="container">
<div class="row text-center contacts">
    <div class="container">
        <div class="row contin">
            <div class="col-md-6">
                <div class="contact-container">
                    <h3>Контактілер</h3>
                    <p><i class="fas fa-globe"></i> <a href="http://www.sanremojunior.kz" target="_blank">www.sanremojunior.kz</a></p>
                    <p><i class="fab fa-instagram"></i> Instagram: <a href="https://www.instagram.com/sanremojunior_kz/" target="_blank">@sanremojunior_kz</a></p>
                    <p><i class="fas fa-phone"></i> Телефоны: +7 701 907 01 89, +7 702 536 48 88</p>
                    <p><i class="fas fa-map-marker-alt"></i> Мекен-жайы: Астана, Ақкербез к-сі, 10</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  

{% endblock content %}